.button-primary {
  border-radius: 10px;
  padding: 6px 12px;
  cursor: pointer;
  margin: 0 10px;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;

  transition: border 0.2s ease, background-color 0.2s ease, color 0.2s ease;
}

.button-secondary {
  border-radius: 10px;
  padding: 6px 12px;
  cursor: pointer;
  margin: 0 10px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;

  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.button-primary-light {
  color: #000;
  border: 1px solid #000;
}

.button-primary-light:hover {
  background-color: #f0f0f0;
  color: #333;
}

.button-primary-dark {
  color: #fff;
  border: 1px solid #fff;
}

.button-primary-dark:hover {
  border: 1px solid #fff;
  background-color: #272727;
  color: #fff;
}

.button-secondary-light {
  background-color: #762d20;
  color: #fff;
}

.button-secondary-light:hover {
  background: #b02107;
  color: #fff;
}

.button-secondary-dark {
  background-color: #ff6347;
  color: #000;
}

.button-secondary-dark:hover {
  background-color: #ff3f1d;
  color: #000;
}

.skeleton-pulse {
  background: #e0e0e0;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}