.work-experience-container {
  width: 100%;
  margin-top: 100px;
}

.work-experience-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.work-experience-description {
  font-size: 18px;
  margin-top: 5px;
}