.work-card-image {
  min-width: 100px;
  aspect-ratio: 2 / 1;
  object-fit: cover;
  border-radius: 10px;
  background-color: #1b1b1b;
  height: 105px;
  box-shadow: var(--shadow-m);
}

.work-card-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  transition: transform 0.2s ease;
  width: 100%;
  box-sizing: border-box;
  height: auto;
}

.work-card-wrapper.light {
  background-color: var(--bg-light-glass);
  backdrop-filter: var(--blur-effect);
  -webkit-backdrop-filter: var(--blur-effect);
  box-shadow: var(--shadow-s);
}

.work-card-wrapper.dark {
  background-color: var(--bg-dark-glass);
  backdrop-filter: var(--blur-effect);
  -webkit-backdrop-filter: var(--blur-effect);
  box-shadow: var(--shadow-s);
}

.work-card-wrapper:hover {
  transform: scale(1.01);
}

.work-card-flags {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  flex-wrap: wrap;
}

.work-card-flag {
  display: flex;
  align-items: center;
  gap: 4px;
  align-self: center;
  font-size: 12px;
  padding-block: 2px;
  padding-inline: 8px;
  border-radius: 20px;
  font-weight: 500;
  box-shadow: var(--shadow-s);
  align-self: center;
  justify-content: center;
  align-self: center;
  text-align: center;
  white-space: nowrap;
}

.work-card-flag.light {
  background-color: rgb(243, 224, 213);
  box-shadow: var(--shadow-s);
}

.work-card-flag.dark {
  background-color: #1a1734;
  box-shadow: var(--shadow-s);
}

@media (max-width: 500px) {
  .work-card-content {
    flex-wrap: wrap;
  }

  .work-card-image {
    width: 100%;
  }
}
