.portfolio-card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 0.75rem;
  gap: 1rem;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 250px;
  box-sizing: border-box;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.portfolio-card:hover {
  transform: scale(1.01);
}

.portfolio-card.dark {
  background-color: var(--bg-dark-glass);
  backdrop-filter: var(--blur-effect);
  -webkit-backdrop-filter: var(--blur-effect);
  box-shadow: var(--shadow-s);
}

.portfolio-card.light {
  background-color: var(--bg-light-glass);
  backdrop-filter: var(--blur-effect);
  -webkit-backdrop-filter: var(--blur-effect);
  box-shadow: var(--shadow-m);
}

.portfolio-card-image-container {
  position: relative;
}

.portfolio-card-image {
  border-radius: 0.5rem;
  object-fit: cover;
  width: 100%;
  height: 170px;
  box-shadow: var(--shadow-s);
}

.portfolio-card-gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 25%;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  pointer-events: none;
}

.portfolio-card-chip-container {
  display: flex;
  gap: 0.25rem;
  flex-wrap: wrap;
  position: absolute;
  top: 4px;
  right: 4px;
  box-shadow: var(--shadow-l);
  border-radius: 20px;
}

.portfolio-card-chip {
  align-self: center;
  font-size: 14px;
  padding-block: 0.2rem;
  padding-inline: 0.5rem;
  border-radius: 20px;
  font-weight: 500;
  display: flex;
  gap: 0.25rem;
  white-space: nowrap;
  align-items: center;
}

.portfolio-card-chip.dark {
  background-color: #1a1734;
  box-shadow: var(--shadow-s);
}

.portfolio-card-chip.light {
  background-color: rgb(243, 224, 213);
  box-shadow: var(--shadow-s);
}

.portfolio-card-date-container {
  display: flex;
  gap: 0.25rem;
  flex-wrap: wrap;
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: white;
}

.portfolio-card-date {
  color: white !important;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
}

.portfolio-card-content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.portfolio-card-title {
  line-height: 0.8;
}

.portfolio-card-description {
  max-width: 300px;
  line-height: 1.2;
  font-size: 14px;
  font-weight: 400;
}

.portfolio-card-description.dark {
  color: #aaa;
}

.portfolio-card-description.light {
  color: #6b6262;
}
