.title-header {
  padding-left: 4px;
  margin-bottom: 10px;
}

.title-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.title-flag {
  width: 12px;
  border-radius: 4px;
  margin-bottom: 2px;
}

.title-title {
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  opacity: 0.6;
}

.title-description {
  max-width: 700px;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5;
}
