.about-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 100px;
  margin-top: 100px;
  padding: 60px;
  border-radius: 10px;
}

.about-wrapper.light {
  background-color: var(--bg-light-glass);
  backdrop-filter: var(--blur-effect);
  -webkit-backdrop-filter: var(--blur-effect);
  box-shadow: var(--shadow-m);
}

.about-wrapper.dark {
  background-color: var(--bg-dark-glass);
  backdrop-filter: var(--blur-effect);
  -webkit-backdrop-filter: var(--blur-effect);
  box-shadow: var(--shadow-m);
}

.about-container {
  display: flex;
  gap: 30px;
  flex-direction: column;
  border-radius: 5px;
}

.about-header {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
}

.about-avatar {
  border-radius: 100px;
  overflow: hidden;
  width: 120px;
  height: 120px;
}

.about-avatar.light {
  background-color: rgba(234, 206, 188, 0.4);
  border: 2px solid #d1bfa8;
  box-shadow: var(--shadow-m);
}

.about-avatar.dark {
  border: 2px solid #1a1734;
  background-color: #1a1734;
  box-shadow: var(--shadow-l);
}

.about-text {
  max-width: 700px;
  font-size: 16px;
  text-align: justify;
  hyphens: auto;
  word-break: break-word;
  overflow-wrap: break-word;
}

.about-info {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.about-location {
  display: flex;
  gap: 6px;
  align-items: center;
  flex-direction: row;
}

.about-flag {
  width: 12px;
}

.about-ecole {
  display: flex;
  gap: 6px;
  align-items: center;
}

.about-ecole-logo {
  width: 21px;
}

@media (max-width: 768px) {
  .about-wrapper {
    padding: 20px;
  }
}
