.career-card {
  display: flex;
  gap: 10px;
  flex: 1 1 400px;
  border-radius: 14px;
  padding: 8px;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.career-card:hover {
  transform: scale(1.01);
}

.career-card-read {
  transition: color 0.2s ease;
}

.career-card-read:hover {
  color: #737373;
}

@media (prefers-color-scheme: light) {
  .career-card-read:hover {
    color: #737373;
  }
}
@media (prefers-color-scheme: dark) {
  .career-card-read:hover {
    color: #737373;
  }
}
