.career-card {
  display: flex;
  gap: 1rem;
  flex: 1 1 400px;
  border-radius: 14px;
  padding: 1rem;
  transition: transform 0.2s ease;
  cursor: pointer;
  box-sizing: border-box;
}

.career-card:hover {
  transform: scale(1.01);
}

.career-card.dark {
  background-color: var(--bg-dark-glass);
  backdrop-filter: var(--blur-effect);
  -webkit-backdrop-filter: var(--blur-effect);
  box-shadow: var(--shadow-s);
}

.career-card.light {
  background-color: var(--bg-light-glass);
  backdrop-filter: var(--blur-effect);
  -webkit-backdrop-filter: var(--blur-effect);
  box-shadow: var(--shadow-s);
}

.career-card-img {
  padding: 2px;
  width: 200px;
  aspect-ratio: 2 / 1;
  object-fit: contain;
  border-radius: 10px;
  height: 100px;
  box-shadow: var(--shadow-s);
}

.career-card-img.dark {
  background-color: #1a1734;
  color: #eeeeee;
}

.career-card-img.light {
  background-color: rgb(243, 224, 213);
  color: #181818;
}

.career-card-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: space-between;
}

.career-card-top {
  display: flex;
  gap: 4px;
  align-items: center;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
}

.career-card-meta {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.career-card-chip {
  align-self: center;
  font-size: 12px;
  padding-block: 2px;
  padding-inline: 8px;
  border-radius: 20px;
  font-weight: 500;
}

.career-card-chip.dark {
  background-color: #1a1734;
  color: #eeeeee;
  box-shadow: var(--shadow-s);
}

.career-card-chip.light {
  background-color: rgb(243, 224, 213);
  color: #181818;
  box-shadow: var(--shadow-s);
}

.career-card-flag {
  display: flex;
  align-items: center;
  gap: 4px;
  align-self: center;
  font-size: 12px;
  padding-block: 2px;
  padding-inline: 8px;
  border-radius: 20px;
  font-weight: 500;
  box-shadow: var(--shadow-s);
  align-self: center;
  justify-content: center;
  align-self: center;
  text-align: center;
  white-space: nowrap;
}

.career-card-flag img {
  width: 12px;
}

.career-card-flag.dark {
  background-color: #1a1734;
  color: #eeeeee;
}

.career-card-flag.light {
  background-color: rgb(243, 224, 213);
  color: #181818;
}

.career-card-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.career-card-date {
  display: flex;
  gap: 4px;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  padding-block: 2px;
}

.career-card-title {
  max-width: 350px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 1.125rem;
  font-weight: 600;
}

.career-card-read {
  display: flex;
  gap: 4px;
  align-items: center;
  align-self: flex-end;
  font-size: 12px;
  font-weight: 500;
  white-space: nowrap;
  margin-top: 10px;
}

.career-card-read.dark {
  color: #eeeeee;
}

.career-card-read.light {
  color: #181818;
}
