.career-container {
  width: 100%;
  margin-top: 100px;
}

.career-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.career-description {
  font-size: 18px;
  margin-top: 5px;
}

.career-cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 10px;
}
