.footer {
  width: 100%;
  min-height: 50px;
  padding-inline: 10px;
  padding-block: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #8d8d8d;
  flex-wrap: wrap;
  gap: 4px;
}

.social-button {
  padding: 0.1rem 0.5rem;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  border: 0.8px solid #1a1a1a;
}

.select-button {
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  font-weight: 500;
  font-family: "roboto", Inter, system-ui;
  font-size: 12px;
  border: 0.8px solid #1a1a1a;
}

@media (prefers-color-scheme: dark) {
  .social-button,
  .select-button {
    background-color: #1a1a1a;
    border: 0.8px solid #e2e2e2;
  }
}

.gradient-border {
  padding: 0.1rem 0.5rem;
  border-radius: 10px;
  display: flex;
  cursor: pointer;
  border: 0.8px solid transparent;
  background-image:
    linear-gradient(#e7e4e4, #e7e4e4),
    linear-gradient(
      45deg,
      rgb(95, 196, 112),
      rgb(23, 107, 15),
      rgb(135, 187, 131),
      rgb(196, 216, 192),
      rgb(0, 182, 106),
      rgb(113, 165, 92)
    );
  background-origin: border-box;
  background-clip: padding-box, border-box;
  background-size: 200%;
  animation: move-border 4s ease-in-out infinite;
  white-space: nowrap;
  overflow: hidden;
}

.circular-icon {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgb(39, 151, 58);
  align-self: center;
  align-content: center;
  text-align: center;
  margin-right: 4px;
  animation: pulse 1.5s infinite;
}

.footer-buttons {
  display: flex;
  gap: 10px;
}

@keyframes move-border {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (prefers-color-scheme: dark) {
  .gradient-border {
    background-image:
      linear-gradient(black, black),
      linear-gradient(
        45deg,
        rgb(57, 219, 84),
        rgb(33, 156, 21),
        rgb(68, 199, 56),
        rgb(85, 182, 85),
        rgb(0, 155, 149),
        rgb(178, 155, 168)
      );
  }

  .circular-icon {
    background-color: rgb(57, 219, 84);
  }
}

[data-theme="dark"] {
  .gradient-border {
    background-image:
      linear-gradient(black, black),
      linear-gradient(
        45deg,
        rgb(57, 219, 84),
        rgb(33, 156, 21),
        rgb(68, 199, 56),
        rgb(85, 182, 85),
        rgb(0, 155, 149),
        rgb(178, 155, 168)
      );
  }

  .circular-icon {
    background-color: rgb(57, 219, 84);
  }

  .social-button,
  .select-button {
    background-color: #1a1a1a;
    border: 0.8px solid #e2e2e2;
    color: #e2e2e2;
  }
}

[data-theme="light"] {
  .gradient-border {
    background-image:
      linear-gradient(#e7e4e4, #e7e4e4),
      linear-gradient(
        45deg,
        rgb(95, 196, 112),
        rgb(23, 107, 15),
        rgb(135, 187, 131),
        rgb(29, 120, 11),
        rgb(0, 182, 106),
        rgb(49, 115, 23)
      );
  }

  .circular-icon {
    background-color: rgb(39, 151, 58);
  }

  .social-button,
  .select-button {
    background-color: #e7e4e4;
    border: 0.8px solid #1a1a1a;
    color: #1a1a1a;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 10px;
  }
}

.theme-toggle-button {
  transition: color 0.2s ease;
  padding: 4px 8px;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
  transition: border 0.2s ease;
  box-shadow: var(--shadow-m);
}

.back-to-top-button {
  transition: color 0.2s ease;
  width: 32px;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  transition: border 0.2s ease;
}

.back-to-top-button.light,
.theme-toggle-button.light {
  box-shadow: var(--shadow-s);
}

.back-to-top-button.dark,
.theme-toggle-button.dark {
  box-shadow: var(--shadow-m);
}

@media (prefers-color-scheme: dark) {
  .theme-toggle-button:hover,
  .back-to-top-button:hover {
    box-shadow: var(--shadow-l);
  }
}

@media (prefers-color-scheme: light) {
  .theme-toggle-button:hover,
  .back-to-top-button:hover {
    box-shadow: var(--shadow-l);
  }
}

[data-theme="light"] {
  .theme-toggle-button:hover,
  .back-to-top-button:hover {
    box-shadow: var(--shadow-l);
  }
}

[data-theme="dark"] {
  .theme-toggle-button:hover,
  .back-to-top-button:hover {
    box-shadow: var(--shadow-l);
  }
}
