.blog-card {
  display: flex;
  gap: 10px;
  flex: 1 1 400px;
  border-radius: 14px;
  padding: 8px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.blog-card:hover {
  transform: scale(1.01);
  filter: brightness(0.98);
}
