.chip-dark,
.chip-light {
  border-radius: 10px;
  padding: 4px 10px;
  cursor: pointer;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #0a0a0a;
  outline: none;
  transition: background-color 0.2s ease-in-out;
}

.chip-light:hover {
  background-color: #dbdbdb !important;
}

.chip-dark:hover {
  background-color: #333 !important;
}
