.chip {
  border-radius: 10px;
  padding: 4px 10px;
  cursor: pointer;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #0a0a0a;
  outline: none;
}

.chip.status {
  outline: 1px solid #bbbbbb;
  background-color: #383838;
}

[data-theme="light"] .chip {
  background-color: #eeeeee;
}

[data-theme="light"] .chip.status {
  background-color: #dbdbdb;
}

[data-theme="dark"] .chip {
  background-color: #0a0a0a;
}

[data-theme="dark"] .chip.status {
  background-color: #383838;
}
