:root {
  --text: #f2edf2;
  --background: #0d0c19;
  --primary: #bea7c0;
  --secondary: #574253;
  --accent: #ca473a;

  --font-title: "Playfair Display", sans-serif, Inter;
  --font-subtitle: "Briem Hand", sans-serif, Inter;
  --font-primary: "Sedan SC", sans-serif, Inter;
  --font-secondary: "Ubuntu Sans", sans-serif, Inter;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

@media (max-width: 768px) {
  .container {
    padding: 0;
  }
}

.home-icon {
  background-color: #ffc785;
  padding: 8px;
  font-size: 30px;
}

.home-text {
  display: flex;
  flex-direction: column;
}

.home-description {
  font-size: clamp(14px, 1.5vw, 16px);
  color: #ff6347;
  font-family: "Poppins", Inter, system-ui;
}

.home-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
  margin-bottom: 2px;
}

.home-cards {
  display: flex;
  flex-direction: column;
  max-width: 572px;
  gap: 10px;
}

.home-cards-b {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.home-cards-list {
  display: flex;
  gap: 10px;
  padding-bottom: 6px;
  padding-right: 6px;
  padding-left: 2px;
  padding-top: 2px;

  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  flex-wrap: nowrap;
  -webkit-overflow-scrolling: touch;
}

.footer {
  width: 100%;
  min-height: 50px;
  padding-inline: 10px;
  padding-block: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #8d8d8d;
  flex-wrap: wrap;
  gap: 4px;
}

.footer-text {
  font-size: 12px;
  font-weight: 400;
}

.home-cards-list > * {
  flex: 0 0 auto;
}

.home-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.home-colors {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.home-colors-track {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.home-cards-fullsize::-webkit-scrollbar {
  display: none;
}

.home-cards-fullsize {
  display: flex;
  flex-direction: row;
  gap: 10px;

  padding-bottom: 6px;
  padding-top: 2px;

  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  flex-wrap: nowrap;

  -webkit-overflow-scrolling: touch;
  overflow: auto;
  scrollbar-width: none;

  position: relative;
}

.home-cards-container {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  gap: 4px;
}

.home-cards-list > * {
  flex: 0 0 auto;
  min-width: 160px;
}

.home-scroll {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.span-title {
  color: #49423b;
}

@media (max-width: 447px) {
  .home-icon {
    padding: 8px;
    font-size: 30px;
  }
}

@media (max-width: 600px) {
  .footer {
    flex-wrap: nowrap;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .home-footer {
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
  }

  .home-cards-fullsize {
    flex-wrap: wrap;
  }

  .home-scroll {
    display: none;
  }
}

@media (min-width: 1194px) {
  .home-scroll {
    display: none;
  }

  .home-cards-fullsize {
    justify-content: center;
  }
}
