:root {
  --text: #f2edf2;
  --background: #0d0c19;
  --primary: #bea7c0;
  --secondary: #574253;
  --accent: #ca473a;

  --font-title: "Playfair Display", sans-serif, Inter;
  --font-subtitle: "Briem Hand", sans-serif, Inter;
  --font-primary: "Sedan SC", sans-serif, Inter;
  --font-secondary: "Ubuntu Sans", sans-serif, Inter;
}

.container {
  display: flex;
  flex-direction: column;
  padding-inline: 50px;
  margin-inline: 280px;
  flex-direction: column;
}

.header-navigation-number {
  font-size: 12px;
}

.header-navigation {
  font-family: "Roboto", "Poppins", Inter, system-ui;
  font-size: 14px;
  font-weight: 500;
  padding-block: 2px;
}

.content {
  display: flex;
  justify-content: space-between;
  height: 100dvh;
  height: 100vh;
  flex-direction: column;
  text-align: center;
}

.home-title {
  text-align: end;
  text-transform: uppercase;
  max-width: 400px;
  font-size: clamp(40px, 4vw, 60px);
}

.home-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
  margin-bottom: 2px;
}

.home-icon {
  background-color: #ffc785;
}

.home-description {
  font-size: clamp(14px, 1.5vw, 20px);
  color: #ff6347;
  font-family: "Poppins", Inter, system-ui;
  font-weight: 500;
}

.home-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #8d8d8d;
}

.menu-navigation {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.footer {
  display: flex;
  border-top: 1px solid #8d8d8d;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.menu-logo {
  width: 110;
  object-fit: cover;
  margin-top: 10px;
}

.home-cards-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.home-cards {
  display: flex;
  flex-direction: row;
  max-width: 572px;
  gap: 10px;
}

.home-cards-b {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.home-content {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.home-cards-list {
  display: flex;
  gap: 10px;
  padding-bottom: 6px;
  padding-right: 6px;
  padding-left: 2px;
  padding-top: 2px;

  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  flex-wrap: nowrap;
  -webkit-overflow-scrolling: touch;
}

.home-cards-list > * {
  flex: 0 0 auto;
}

.home-colors {
  display: flex;
}

.home-cards-mobile::-webkit-scrollbar {
  display: none;
}

.home-cards-mobile {
  display: flex;
  gap: 10px;
  padding-bottom: 6px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 2px;

  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  flex-wrap: nowrap;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  scrollbar-width: none;
}

.footer-text {
  font-family: "Roboto", Poppins, Inter, system-ui;
  font-size: 14px;
  font-weight: 500;
  padding-block: 10px;
}

.widget-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
  border-radius: 50%;
  z-index: -1;

  font-size: 180px;

  position: absolute;
  top: 30px;
  left: 100px;
  transform: translate(-50%, -50%);
  display: flex;

  animation: spin 80s linear infinite;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@media (max-width: 767px) and (max-height: 740px) {
  .home-cards-fullsize {
    display: none;
  }

  .container {
    padding-inline: 0;
    margin-inline: 0;
  }

  .menu {
    flex-direction: column;
  }

  .home-content {
    display: flex;
    flex-direction: column;
  }

  .home-text {
    align-items: center;
    padding-inline: 10px;
  }

  .home-icon {
    padding: 8px;
    font-size: 32px;
    margin-bottom: 6px;
    background-color: #ffc785;
  }

  .home-title {
    text-align: center;
  }

  .card {
    max-width: 350px !important;
    transform: rotate(0deg) !important;
  }

  .blog-card {
    min-height: 200px !important;
  }

  .home-cards-mobile {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    -webkit-overflow-scrolling: touch;
  }

  .home-cards-list > * {
    flex: 0 0 auto;
    min-width: 160px;
  }

  .footer {
    padding-inline: 10px;
  }

  .widget-icon {
    top: 32px;
    left: 32px;

    font-size: 60px;
  }
}

@media (max-width: 767px) and (min-height: 741px) {
  .home-cards-fullsize {
    display: none;
  }

  .container {
    padding-inline: 0;
    margin-inline: 0;
  }

  .menu {
    flex-direction: column;
  }

  .home-content {
    display: flex;
    flex-direction: column;
  }

  .home-text {
    align-items: center;
    padding-inline: 10px;
  }

  .home-icon {
    padding: 8px;
    font-size: 36px;
    margin-bottom: 6px;
  }

  .home-title {
    text-align: center;
  }

  .card {
    max-width: 350px !important;
    transform: rotate(0deg) !important;
  }

  .home-cards-mobile {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    -webkit-overflow-scrolling: touch;
  }

  .home-cards-list > * {
    flex: 0 0 auto;
    min-width: 160px;
  }

  .footer {
    padding-inline: 10px;
  }

  .widget-icon {
    font-size: 80px;

    top: 30px;
    left: 30px;
  }
}

/* Tablets (768px a 1024px) */
/* @media (min-width: 768px) and (max-width: 1024px) and (max-height: 1024px) { */

@media (min-width: 768px) and (max-width: 1024px) and (max-height: 1180px) {
  .home-cards-fullsize {
    display: flex;
    flex-direction: row;
    padding-block: 20px;
  }

  .home-cards-list-fullsize {
    display: flex;
    flex-direction: column;
  }

  .container {
    padding-inline: 0;
    margin-inline: 0;
  }

  .menu {
    padding-inline: 10px;
  }

  .menu-logo {
    width: 110;
    object-fit: cover;
    margin-top: 0;
  }

  .home-content {
    display: flex;
    flex-direction: column;
  }

  .home-text {
    align-items: center;
    padding-inline: 10px;
  }

  .home-icon {
    padding: 10px;
    font-size: 40px;
    margin-bottom: 6px;
  }

  .home-title {
    text-align: center;
    max-width: 500px;
  }

  .card {
    max-width: 300px !important;
  }

  .blog-card {
    min-height: 170px !important;
  }

  .home-cards-mobile {
    display: none;
  }

  .footer {
    padding-inline: 10px;
  }

  .widget-icon {
    font-size: 100px;

    top: 30px;
    left: 30px;
  }
}

/* @media (min-width: 1024px) and (max-width: 1366px) and (min-height: 1366px) { */

@media (min-width: 820px) and (max-width: 1366px) and (min-height: 1280px) {
  .home-cards-fullsize {
    display: flex;
    flex-direction: row;
    padding-block: 10px;
  }

  .home-cards-list-fullsize {
    display: flex;
    flex-direction: column;
  }

  .container {
    margin-inline: 0;
  }

  .menu {
    padding-inline: 10px;
  }

  .menu-logo {
    width: 140px;
    object-fit: cover;
    margin-top: 0;
  }

  .home-content {
    display: flex;
    flex-direction: column;
  }

  .home-text {
    align-items: center;
    padding-inline: 10px;
  }

  .home-icon {
    padding: 16px;
    font-size: 60px;
    margin-bottom: 6px;
  }

  .home-title {
    text-align: center;
    max-width: 500px;
  }

  .home-cards-mobile {
    display: none;
  }

  .footer {
    padding-inline: 10px;
  }

  .footer-text {
    font-size: 20px;
    font-weight: 500;
    padding-block: 20;
  }

  .widget-icon {
    font-size: 110px;
    top: 50px;

    left: 50px;
  }

  .header-navigation-number {
    font-size: 14px;
    margin-left: 4px;
  }

  .header-navigation {
    font-family: "Roboto", "Poppins", Inter, system-ui;
    font-size: 20px;
    padding-block: 4px;
  }
}

/* --- horizontal --- */

@media (max-width: 767px) and (orientation: landscape) {
  .home-cards-fullsize {
    display: none;
  }

  .container {
    padding-inline: 0;
    margin-inline: 0;
  }

  .menu {
    flex-direction: row;
    padding-inline: 10px;
    align-items: center;
  }

  .menu-logo {
    width: 110;
    object-fit: cover;
    margin-top: 0;
  }

  .home-content {
    display: flex;
    flex-direction: row;
  }

  .home-text {
    align-items: end;
    padding-inline: 10px;
  }

  .home-colors {
    display: none;
  }

  .home-icon {
    padding: 8px;
    font-size: 32px;
    margin-bottom: 6px;
  }

  .home-title {
    text-align: center;
  }

  .card {
    max-width: 350px !important;
    transform: rotate(0deg) !important;
  }

  .blog-card {
    min-height: 180px !important;
  }

  .home-cards-mobile {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    -webkit-overflow-scrolling: touch;
  }

  .home-cards-list > * {
    flex: 0 0 auto;
    min-width: 160px;
  }

  .footer {
    padding-inline: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .home-cards-fullsize {
    display: none;
  }

  .container {
    padding-inline: 0;
    margin-inline: 0;
  }

  .menu {
    flex-direction: row;
    padding-inline: 10px;
    align-items: center;
  }

  .menu-logo {
    width: 110;
    object-fit: cover;
    margin-top: 0;
  }

  .home-content {
    display: flex;
    flex-direction: column;
  }

  .home-text {
    align-items: center;
    padding-inline: 10px;
  }

  .home-colors {
    display: none;
  }

  .home-icon {
    padding: 8px;
    font-size: 32px;
    margin-bottom: 6px;
  }

  .home-title {
    text-align: center;
  }

  .card {
    max-width: 350px !important;
    transform: rotate(0deg) !important;
  }

  .blog-card {
    min-height: 180px !important;
  }

  .home-cards-mobile {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    -webkit-overflow-scrolling: touch;
  }

  .home-cards-list > * {
    flex: 0 0 auto;
    min-width: 160px;
  }

  .footer {
    padding-inline: 10px;
  }

  .widget-icon {
    font-size: 60px;
    top: 30px;
    left: 50px;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .home-cards-fullsize {
    display: flex;
    flex-direction: row;
    padding-block: 20px;
    padding-top: 30px;
  }

  .home-cards-list-fullsize {
    display: flex;
    flex-direction: column;
  }

  .container {
    padding-inline: 0px;
    margin-inline: 80px;
  }

  .menu {
    padding-inline: 10px;
  }

  .menu-logo {
    width: 110;
    object-fit: cover;
    margin-top: 0;
  }

  .card {
    max-width: 350px !important;
  }

  .blog-card {
    min-height: 180px !important;
  }

  .home-content {
    display: flex;
    flex-direction: row;
  }

  .home-text {
    align-items: end;
    padding-inline: 10px;
  }

  .home-icon {
    padding: 10px;
    font-size: 50px;
    margin-bottom: 6px;
  }

  .home-title {
    text-align: center;
    max-width: 500px;
  }

  .home-cards-mobile {
    display: none;
  }

  .footer {
    padding-inline: 10px;
  }

  .footer-text {
    font-size: 24;
    font-weight: 500;
    padding-block: 20;
  }

  .home-colors {
    display: none;
  }

  .widget-icon {
    font-size: 100px;
    top: 50px;
    left: 120px;
  }
}

@media (min-width: 1281px) and (max-width: 1680px) {
  .home-cards-fullsize {
    display: flex;
    flex-direction: row;
    padding-block: 20px;
    padding-top: 30px;
  }

  .home-cards-list-fullsize {
    display: flex;
    flex-direction: column;
  }

  .container {
    padding-inline: 0px;
    margin-inline: 100px;
  }

  .menu {
    padding-inline: 10px;
  }

  .menu-logo {
    width: 110;
    object-fit: cover;
    margin-top: 0;
  }

  .home-content {
    display: flex;
    flex-direction: row;
  }

  .home-text {
    align-items: end;
    padding-inline: 10px;
  }

  .home-icon {
    padding: 10px;
    font-size: 50px;
    margin-bottom: 6px;
  }

  .home-title {
    text-align: center;
    max-width: 500px;
  }

  .home-cards-mobile {
    display: none;
  }

  .footer {
    padding-inline: 10px;
  }

  .footer-text {
    font-size: 24;
    font-weight: 500;
    padding-block: 20;
  }

  .home-colors {
    display: none;
  }

  .widget-icon {
    font-size: 100px;
    top: 50px;
    left: 120px;
  }
}

@media (min-width: 1681px) {
  .home-cards-fullsize {
    display: flex;
    flex-direction: row;
    padding-block: 20px;
    padding-top: 30px;
  }

  .home-cards-list-fullsize {
    display: flex;
    flex-direction: column;
  }

  .container {
    padding-inline: 0px;
    margin-inline: 280px;
  }

  .menu {
    padding-inline: 10px;
  }

  .menu-logo {
    width: 110;
    object-fit: cover;
    margin-top: 0;
  }

  .home-content {
    display: flex;
    flex-direction: row;
  }

  .home-text {
    align-items: end;
    padding-inline: 10px;
  }

  .home-icon {
    padding: 10px;
    font-size: 50px;
    margin-bottom: 6px;
  }

  .home-title {
    text-align: center;
    max-width: 500px;
  }

  .home-cards-mobile {
    display: none;
  }

  .footer {
    padding-inline: 10px;
  }

  .footer-text {
    font-size: 24;
    font-weight: 500;
    padding-block: 20;
  }

  .home-colors {
    display: none;
  }

  .widget-icon {
    font-size: 150px;
  }

  .header-navigation-number {
    font-size: 10px;
    margin-left: 4px;
  }
}
