:root {
  --text: #f2edf2;
  --background: #0d0c19;
  --primary: #bea7c0;
  --secondary: #574253;
  --accent: #ca473a;

  --font-title: "Playfair Display", sans-serif, Inter;
  --font-subtitle: "Briem Hand", sans-serif, Inter;
  --font-primary: "Sedan SC", sans-serif, Inter;
  --font-secondary: "Ubuntu Sans", sans-serif, Inter;
}

.container {
  display: flex;
  flex-direction: column;
  padding-inline: 50px;
  margin-inline: 280px;
 
  /* justify-content: space-between; */
  flex-direction: column;
  /* text-align: center; */
}

.content {
  display: flex;
  justify-content: space-between;
  height: 100dvh;
  height: 100vh;
  flex-direction: column;
  text-align: center;
}

.home-title {
  /* background-color: red; */
  text-align: end;
  text-transform: uppercase;
  max-width: 400px;
}

.home-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 2px;
}

.home-icon {
  padding: 10px;
  background-color: #ffc785;
}

.home-description {
  font-size: 16px;
  /* text-align: start; */
  font-family: "Poppins", Inter, system-ui;
  font-weight: 500;
  /* display: -webkit-box; */
  /* -webkit-line-clamp: 3; */
  /* line-clamp: 3; */
  /* -webkit-box-orient: vertical; */
  /* overflow: hidden; */
  /* max-width: 600px; */
}

.home-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #8d8d8d;
}

.menu-navigation {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.footer {
  display: flex;
  border-top: 1px solid #8d8d8d;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1440px) {
  /* .home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .home-text {
    align-items: center;
  }

  .home-title {
    text-align: center;
  }

  .home-description {
    text-align: center;
    font-size: 14px;
  } */
}

.menu-logo {
  width: 110;
  object-fit: cover;
  margin-top: 10px;
}

.home-cards-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.home-cards {
  display: flex;
  flex-direction: row;
  max-width: 572px;
  gap: 10px;
}

.home-cards-b {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.home-content {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  /* background-color: navy; */
  justify-content: space-evenly;
  align-items: center;
}

.home-cards-list {
  display: flex;
  gap: 10px;
  padding-bottom: 6px;
  padding-right: 6px;
  padding-left: 2px;
  padding-top: 2px;

  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  flex-wrap: nowrap;
  -webkit-overflow-scrolling: touch;
}

.home-cards-list > * {
  flex: 0 0 auto;
}

@media (max-width: 768px) {
  .home-cards-list {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    -webkit-overflow-scrolling: touch;
  }

  .home-cards-list > * {
    flex: 0 0 auto;
    min-width: 160px;
  }
}

@media (max-width: 768px) {
  .container {
    padding-inline: 10px;
    margin-inline: 0;
  }

  .menu {
    flex-direction: column;
  }

  .home-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }

  .home-icon {
    margin-bottom: 6px;
  }

  .home-text {
    align-items: center;
  }

  .home-title {
    text-align: center;
  }

  .card {
    max-width: 350px !important;
    transform: rotate(0deg) !important;
  }

  .blog-card {
    min-height: 170px !important;
  }

  .blog-title {
    font-size: 12px;
  }
}

@media (max-width: 1024px) {
  /* .container {
    padding-inline: 25px;
    margin-inline: 100px;
  } */
}
