@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Triodion&display=swap");

:root {
  font-family: "Noto Serif", "Roboto", "Triodion", "Poppins", Inter, system-ui,
    Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: #252525;
  background-color: #e2e2e2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: linear-gradient(135deg, #e2e2e2, #c0c0c0);
  background-size: 200% 200%;
  animation: moveBackground 10s linear infinite;
}

p {
  font-size: 1em;
  line-height: 1.5;
  color: #252525;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #252525;
}

h2 {
  font-size: 2.4em;
  line-height: 1.1;
  color: #252525;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

*,
*::before,
*::after {
  /* outline: 1px solid red; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    /* background-color: #ffffff; */
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
  h2 {
    font-size: 1em;
  }
}

@media (max-width: 1024px) {
  body {
    flex-direction: column;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 1.8em;
  }

  button {
    padding: 0.6em 1em;
    font-size: 1em;
  }
}

@media (max-width: 768px) {
  body {
    flex-direction: column;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  button {
    padding: 0.5em 1em;
    font-size: 0.9em;
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #e2e2e2;
    background-color: #252525;
  }

  body {
    background: linear-gradient(135deg, #252525, #1a1a1a);
    color: #e2e2e2;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #e2e2e2;
  }
}

[data-theme="dark"] {
  :root {
    color: #e2e2e2;
    background-color: #252525;
  }

  body {
    background: linear-gradient(135deg, #252525, #1a1a1a);
    color: #e2e2e2;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #e2e2e2;
  }
}

[data-theme="light"] {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  body {
    background: linear-gradient(135deg, #e2e2e2, #c0c0c0);
    color: #213547;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #213547;
  }
}
