.language-toggle-button {
  transition: color 0.2s ease;
  padding: 4px 8px;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
  transition: border 0.2s ease;
}

.language-toggle-button.light {
  box-shadow: var(--shadow-s);
}

.language-toggle-button.dark {
  box-shadow: var(--shadow-m);
}

@media (prefers-color-scheme: dark) {
  .language-toggle-button:hover {
    box-shadow: var(--shadow-l);
  }
}

@media (prefers-color-scheme: light) {
  .language-toggle-button:hover {
    box-shadow: var(--shadow-m);
  }
}

[data-theme="light"] {
  .language-toggle-button:hover {
    box-shadow: var(--shadow-m);
  }
}

[data-theme="dark"] {
  .language-toggle-button:hover {
    box-shadow: var(--shadow-l);
  }
}
